body {
    background-color: #222;
    color: white;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
}

.container {
    text-align: center;
    padding: 20px;
}

.header {
    margin-bottom: 30px;
}

.header h1 {
    font-size: 2em;
}

.content {
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    flex-wrap: wrap;
    gap: 20px; /* Расстояние между изображениями */
}

.image-wrapper {
    max-width: 300px;
    max-height: 300px;
    overflow: hidden;
    margin: 0 10px; /* Добавляем отступы по бокам */ /* Дополнительный отступ */
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navigation {
    display: flex;
    justify-content: center; /* Центрирование стрелок */
    margin-top: 30px;
    
}

.arrow {
    font-size: 2em;
    cursor: pointer;
    margin: 0 10px; /* Отступ между стрелками */
}


/* Адаптивная верстка для меньших экранов */
@media (max-width: 768px) {
    .content {
        flex-direction: column;
        align-items: center;
    }
    .image-wrapper {
        width: 90%;
        margin: 10px auto;
    }
    .navigation{
        justify-content: center;
    }
}
