USE [Прокопенко Алексей 3834]
GO
/****** Object:  StoredProcedure [dbo].[Отображение студентов по среднему баллу]    Script Date: 04.10.2025 15:26:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[Отображение студентов по среднему баллу]
	-- Add the parameters for the stored procedure here
	@Grade Real = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT *
	FROM [Запрос Студенты + Оценки]
	WHERE ([Оценка первого экзамена]+[Оценка второго экзамена]+[Оценка третьего экзамена])/3>@Grade
END
