<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Печерский_А.А.Properties.Settings.Печерский_Александр_группа_3834ConnectionString"
            connectionString="Data Source=SRV-SQL;Initial Catalog=&quot;Печерский Александр группа 3834&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>