<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Лукьяненко_Олег.Properties.Settings.___Лукьяненко_ОлегConnectionString"
            connectionString="Data Source=SRV-SQL;Initial Catalog=!!!Лукьяненко_Олег;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>