USE [Неофидис Христофор]
GO
/****** Object:  StoredProcedure [dbo].[Отображение студентов по возрасту]    Script Date: 27.09.2025 15:11:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [Отображение студентов по возрасту]
	
	@Age int = 0

AS
BEGIN
	
	SET NOCOUNT ON;

	SELECT ФИО,
	[Запрос Студенты+Специальности] . [Дата рождения] ,
	'Возраст'=DATEDIFF (yy,[Запрос Студенты+Специальности] . [Дата рождения], GETDATE())
	FROM [Запрос Студенты+Специальности]
	WHERE DATEDIFF (yy,[Запрос Студенты+Специальности] . [Дата рождения], GETDATE()) > @Age
	 
END
